<!DOCTYPE html>

<head>
  <style>
    body {
      text-align: center;
    }
    .hide {
      display: none;
    }
  </style>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="./js/jquery-2.0.3.js"></script>
  <script src="./js/underscore-1.5.2.js"></script>
  <script src="./js/backbone-1.1.0.js"></script>
  <script src="./js/templates.js"></script>
  <script src="./js/nunjucks.js"></script>
  <script src="./init.js"></script>
  <script src="./models/Animal.js"></script>
  <script src="./views/main.js"></script>
  <script src="./views/createdanimals.js"></script>
  <script src="./views/details.js"></script>
  <script src="./routers/router.js"></script>

  <title>Animal Kingdom</title>
</head>

<body>

  <div class="row">

    <div class="col-md-4">
      
    </div>

    <div class="col-md-4" id="main">
      
    </div>

    <div class="col-md-4" style="padding-top:20px">

      <div id="createdAnimals">
        
      </div>

      <div id="details">
        
      </div>

    </div>

  </div>

</body>

<script>
  window.bootstrap = {
    animals: {{ animals }}
  };
</script>

</html>