<h3>THE ANIMAL CREATOR</h3>
<form class="form-horizontal" action="#submit">
  <div class="form-group">
    <label class="col-sm-6 control-label">What kind of animal is this?</label>
    <div class="col-sm-6">
    <input class="form-control" required name="type" type="text" placeholder="Animal Type"><br/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-6 control-label">What should we name it?</label>
    <div class="col-sm-6">
      <input class="form-control" required name="name" type="text" placeholder="Name"><br/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-6 control-label">How many legs does it have?</label>
    <div class="col-sm-6">
      <input class="form-control" name="legs" type="text" placeholder="# of Legs"><br/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-6 control-label">What noise does it make?</label>
    <div class="col-sm-6">
      <input class="form-control" name="noise" type="text" placeholder="Noise"><br/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-6 control-label">How many lives does it have?</label>
    <div class="col-sm-6">
      <input class="form-control" name="lives" type="text" placeholder="# of Lives"><br/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-6 control-label"> Is it rabid? </label>          
    <div class="col-sm-6">
        <input class="pull-right" name="rabid" type="checkbox" value="">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"><span id="animaltypespan"></span></button>
  </div>
</form>